# python cache files
*.py[co]

# scan data used for testing
django_proj/scandata/*

django_proj/tmp/*

.DS_Store

django_proj/output/contrast/*.csv
django_proj/output/pictureblocks/*.csv

django_proj/~$BHLIllustrations.xlsx

django_proj/BHLIllustrations.xlsx

django_proj/dump/artoflife/page_data.bson

*.bson

django_proj/color.png
