<html>

<head>
<style>

footer {
	color: #aaa;
	font-size: .8em;
}

</style>
</head>
<body>

<h2>Imported scans:</h2>

<ul>
{% for scan in scans %}
	<li><a href='/mongo/scan/{{ scan.scan_id }}'>{{ scan.scan_id }}</a> ({{ scan.n_pages }}p)</li>
{% endfor %}
</ul>

<footer>
	<p>Page built in: {{ build_time }}s, {{ total_pages }} pages</p>
	<p>Full set estimate: {{ full_build_est|floatformat:3 }}s</p>
</footer>

<ul>
	<li><a href='/mongo/compression-histogram/'>Compression Histogram</a></li>
	<li><a href='/mongo/coverage-histogram/'>Picture Block Coverage Histogram</a></li>
	<li><a href='/mongo/pcoords/'>Parallel Coordinates</a></li>
	<li><a href='/mongo/pcoords/?illustration=y'>Parallel Coordinates (with illustration only)</a></li>
	<li><a href='/mongo/pcoords/?illustration=n'>Parallel Coordinates (without illustration only)</a></li>
</ul>

</body>
</html>