<div class='page' data-number='{{ page.ia_page_num }}' style='margin-bottom: 0.5em; background-color: #eee;'>

    <div class='page-thumbnail'>

        {% if page.abbyy.coverage_sum %}
            <a href='/mongo/picture_blocks/{{scan_id}}/{{page.ia_page_num}}'>
                <img style='background-image: url(/mongo/ia-thumb/{{scan_id}}/{{page.ia_page_num}})' 
                     class='svg-blocks' src='/mongo/picture_blocks/{{ scan_id }}/{{ page.ia_page_num }}.svg' />
            </a>
        {% else %}
            <img class='no-blocks' src='/mongo/ia-thumb/{{scan_id}}/{{page.ia_page_num}}' />
        {% endif %}        

    </div>

	<div class='info'>
		<div class='scandata_index'>Scandata index: {{ page.scandata_index }}</div>		
		<div class='ia_page_number'>IA page number: {{ page.ia_page_num }}</div>
		<div class='golden'>Has illustration: <span class='golden-value'>{% if page.has_illustration.gold_standard %}yes{% else %}no{% endif %}</span></div>
        <div class='picture_blocks'># of blocks: {{ page.abbyy.picture_blocks|length }}</div>
        <div class='total_coverage'>Sum of block coverage: <span class='value'>{{ page.abbyy.coverage_sum|floatformat:3 }}</span>%</div>
        <div class='compression'>Compression ratio: {{ page.compression|floatformat:3 }}</div>
        <div class='alg-result'>
        	<div class='abbyy {{ page.alg_result.abbyy }}'>ABBYY</div>
            <div class='contrast {{ page.alg_result.contrast }}'>Contrast</div>
            <div class='color {{ page.alg_result.color }}'>Color</div>
        </div>	        
   </div>

</div>