<h2>Page data for {{ scan_id }}</h2>

<p># of pages with picture blocks: {{ abbyy_n }}</p>

<div class='pages'>
{% for page in pages %}
	<div class='page' style='margin-bottom: 0.5em; background-color: #eee;'>
		<div class='scandata_index'>Scandata index: {{ page.scandata_index }}</div>		
		<div class='ia_page_number'>IA page number: {{ page.ia_page_num }}</div>
        <div class='picture_blocks'># of blocks: {{ page.abbyy.picture_blocks|length }}</div>
        <div class='total_coverage'>Sum of block coverage: {{ page.abbyy.coverage_sum }}%</div>
	</div>
{% endfor %}
</div>